parameters:
	ignoreErrors:
		-
			message: '#^Class Spatie\\MediaLibraryPro\\Models\\TemporaryUpload not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/media-library.php

		-
			message: '#^Class Spatie\\LaravelData\\Data not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/settings.php
