parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Class Spatie\\MediaLibraryPro\\Models\\TemporaryUpload not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/media-library.php

		-
			message: '#^Class Spatie\\LaravelData\\Data not found\.$#'
			identifier: class.notFound
			count: 1
			path: config/settings.php
